# vim: ft=yaml nospell
---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  *,
  -fuchsia-default-arguments,
  -readability-magic-numbers
WarningsAsErrors: '*'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: file
...
